nav {
  align-content: center;
  align-items: center;
  background: #036b52;
  display: flex;
  flex-flow: row nowrap;
  height: 105px;
  justify-content: space-between;
  left: 0%;
  right: 0%;
  top: 0.01px;
  width: 100vw;
}

.nav-itens {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 105px;
  justify-content: space-evenly;
  left: 0%;
  right: 80.89%;
  top: 0;
  width: 733px;
}

.nav-itens div a {
  color: #001813;
  text-decoration: none;
}

.nav-user {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 105px;
  justify-content: space-between;
  left: 1391px;
  width: 539px;
}

.nav-user div span {
  color: #f2fffc;
  text-align: center;

}

.nav-user div button {
  background: #056cf9;
  border: none;
  color: #f2fffc;
  height: 105px;
  left: 96.62%;
  width: 180px;
}

